.white_border_button {
	@extend %basic_button;
	border: 2px solid map-get($global-colors, white);
		@include for_tablet_landscape {
			width: 41%;
			float: left;
			margin: 1rem;
			padding: 1rem;
		}
		@include for_xl_desktop {
			width: 44%;
			float: left;
			margin: 1rem;
			padding: 1rem 2rem;
			transition: all 0.3s ease;
				&:hover {
					background-color: map-get($global-colors, white);
					color: map-get($global-font-colors, font-pink);
				}
		}
}
.white_border_button_center {
	@extend %basic_button;
	border: 2px solid map-get($global-colors, white);
		@include for_tablet_landscape {
			width: 50%;
		}
		@include for_xl_desktop {
			width: 44%;
			margin: 1rem;
			padding: 1rem 2rem;
			transition: all 0.3s ease;
				&:hover {
					background-color: map-get($global-colors, white);
					color: map-get($global-font-colors, font-pink);
				}
		}
}
.more_btn {
	position: absolute;
	left: calc(50% - 45%);
	bottom: 1rem;
	margin-top: 1rem;
	@extend %basic_button;
	width: 90%;
	color: map-get($global-font-colors, font-green);
	border: 2px solid map-get($global-colors, green);
}
.news_more_btn {
	@extend %basic_button;
	border: 2px solid map-get($global-colors, green);
	color: map-get($global-font-colors, font-green);
	margin-top: 2rem;
	transition: all 0.3s ease;
}
.back_btn {
	@extend %basic_button;
	width: 100%;
	color: map-get($global-font-colors, font-green);
	border: 2px solid map-get($global-colors, green);
		@include for_tablet_landscape {
			width: 25%;
		}
		@include for_xl_desktop {
			transition: all 0.3s ease;
			&:hover {
				background-color: map-get($global-colors, green);
				color: map-get($global-font-colors, font-white);
			}
		}
}
.more-link {
	&:hover {
		color: map-get($global-font-colors, white);
		background-color: map-get($global-colors, font-green);
	}
}